.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.signup-row:first-child {
    margin: 10px 0 40px 0;
}
.signup-title {
    font-size: 2rem;
    margin-bottom: 20px;
}
.signup-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-col form {
   width: 300px;
}

.signup-col form .form-group button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}